body {
    margin: 0;
    min-width: 250px;
    font-family: 'Mukta', sans-serif;

}

* {
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    cursor: pointer;
    padding: 12px 8px 12px 40px;
    position: relative;
    list-style: none;
    background-color: #eee;
    font-size: 18px;
    transition: 0.2s;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

ul li:nth-child(odd) {
    background: #c0c0c0;
}

ul li:hover {
    background: #ddd;
}

ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}

ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
}

.close {
    position: absolute;
    color: #0b0b0b;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}

.del {
    text-decoration: none;
    font-weight: 600;
    color: #222;
}

.close:hover {
    background: #a9a9a9;
    color: #fff;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color: #fff;
}

.header {
    background: #dc143c;
    padding: 30px 40px;
    color: #fff;
    text-align: center;
}

.header:after {
    content: '';
    display: table;
    clear: both;
}

.addBtn {
    position: absolute;
    right: 30;
    padding: 10px;
    width: 120px;
    background: #555;
    color: #fff;
    float: left;
    font-weight: 600;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 20px;
}

.addBtn:hover {
    background: #bbb;
}

#myInput {
    width: 80%;
    margin-right: 6%;
    padding-left: 20px;
    height: 35px;
    border-radius: 20px;
    border: none;
}
